In [25]:
%matplotlib inline 
import pandas as pd
import numpy as np
import os as os
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
df = pd.DataFrame(pd.read_csv('matches.csv'))

In [27]:
df.head()

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,...,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupport,redSupportChamp,goldredSupport,redBans,Address
0,NALCS,2015,Spring,Season,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...",...,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",LemonNation,Thresh,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']",http://matchhistory.na.leagueoflegends.com/en/...
1,NALCS,2015,Spring,Season,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...",...,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",KiWiKiD,Annie,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']",http://matchhistory.na.leagueoflegends.com/en/...
2,NALCS,2015,Spring,Season,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...",...,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",BunnyFuFuu,Janna,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']",http://matchhistory.na.leagueoflegends.com/en/...
3,NALCS,2015,Spring,Season,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...",...,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Xpecial,Janna,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']",http://matchhistory.na.leagueoflegends.com/en/...
4,NALCS,2015,Spring,Season,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...",...,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Dodo8,Annie,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']",http://matchhistory.na.leagueoflegends.com/en/...

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7053 entries, 0 to 7052
Data columns (total 57 columns):
League              7053 non-null object
Year                7053 non-null int64
Season              7053 non-null object
Type                7053 non-null object
blueTeamTag         7015 non-null object
bResult             7053 non-null int64
rResult             7053 non-null int64
redTeamTag          7016 non-null object
gamelength          7053 non-null int64
golddiff            7053 non-null object
goldblue            7053 non-null object
bKills              7053 non-null object
bTowers             7053 non-null object
bInhibs             7053 non-null object
bDragons            7053 non-null object
bBarons             7053 non-null object
bHeralds            7053 non-null object
goldred             7053 non-null object
rKills              7053 non-null object
rTowers             7053 non-null object
rInhibs             7053 non-null object
rDragons            7053 non-null object
rBarons             7053 non-null object
rHeralds            7053 non-null object
blueTop             7016 non-null object
blueTopChamp        7053 non-null object
goldblueTop         7053 non-null object
blueJungle          7025 non-null object
blueJungleChamp     7053 non-null object
goldblueJungle      7053 non-null object
blueMiddle          7016 non-null object
blueMiddleChamp     7053 non-null object
goldblueMiddle      7053 non-null object
blueADC             7016 non-null object
blueADCChamp        7053 non-null object
goldblueADC         7053 non-null object
blueSupport         7016 non-null object
blueSupportChamp    7053 non-null object
goldblueSupport     7053 non-null object
blueBans            7053 non-null object
redTop              7016 non-null object
redTopChamp         7053 non-null object
goldredTop          7053 non-null object
redJungle           7029 non-null object
redJungleChamp      7053 non-null object
goldredJungle       7053 non-null object
redMiddle           7016 non-null object
redMiddleChamp      7053 non-null object
goldredMiddle       7053 non-null object
redADC              7016 non-null object
redADCChamp         7053 non-null object
goldredADC          7053 non-null object
redSupport          7016 non-null object
redSupportChamp     7053 non-null object
goldredSupport      7053 non-null object
redBans             7053 non-null object
Address             7053 non-null object
dtypes: int64(4), object(53)
memory usage: 3.1+ MB

In [29]:
df.isnull().sum()

League               0
Year                 0
Season               0
Type                 0
blueTeamTag         38
bResult              0
rResult              0
redTeamTag          37
gamelength           0
golddiff             0
goldblue             0
bKills               0
bTowers              0
bInhibs              0
bDragons             0
bBarons              0
bHeralds             0
goldred              0
rKills               0
rTowers              0
rInhibs              0
rDragons             0
rBarons              0
rHeralds             0
blueTop             37
blueTopChamp         0
goldblueTop          0
blueJungle          28
blueJungleChamp      0
goldblueJungle       0
blueMiddle          37
blueMiddleChamp      0
goldblueMiddle       0
blueADC             37
blueADCChamp         0
goldblueADC          0
blueSupport         37
blueSupportChamp     0
goldblueSupport      0
blueBans             0
redTop              37
redTopChamp          0
goldredTop           0
redJungle           24
redJungleChamp       0
goldredJungle        0
redMiddle           37
redMiddleChamp       0
goldredMiddle        0
redADC              37
redADCChamp          0
goldredADC           0
redSupport          37
redSupportChamp      0
goldredSupport       0
redBans              0
Address              0
dtype: int64

In [39]:
# fill NaN values with 'unknown'
dataFrame = df.fillna('unknown')

In [40]:
dataFrame.isnull().sum()

League              0
Year                0
Season              0
Type                0
blueTeamTag         0
bResult             0
rResult             0
redTeamTag          0
gamelength          0
golddiff            0
goldblue            0
bKills              0
bTowers             0
bInhibs             0
bDragons            0
bBarons             0
bHeralds            0
goldred             0
rKills              0
rTowers             0
rInhibs             0
rDragons            0
rBarons             0
rHeralds            0
blueTop             0
blueTopChamp        0
goldblueTop         0
blueJungle          0
blueJungleChamp     0
goldblueJungle      0
blueMiddle          0
blueMiddleChamp     0
goldblueMiddle      0
blueADC             0
blueADCChamp        0
goldblueADC         0
blueSupport         0
blueSupportChamp    0
goldblueSupport     0
blueBans            0
redTop              0
redTopChamp         0
goldredTop          0
redJungle           0
redJungleChamp      0
goldredJungle       0
redMiddle           0
redMiddleChamp      0
goldredMiddle       0
redADC              0
redADCChamp         0
goldredADC          0
redSupport          0
redSupportChamp     0
goldredSupport      0
redBans             0
Address             0
dtype: int64

In [41]:
dataFrame.describe().astype(np.int64).T

            count  mean  std   min   25%   50%   75%   max
Year         7053  2016    0  2014  2016  2016  2017  2017
bResult      7053     0    0     0     0     1     1     1
rResult      7053     0    0     0     0     0     1     1
gamelength   7053    36    7    17    31    36    41    81

In [42]:
# check all columns' data types
dataFrame.dtypes

League              object
Year                 int64
Season              object
Type                object
blueTeamTag         object
bResult              int64
rResult              int64
redTeamTag          object
gamelength           int64
golddiff            object
goldblue            object
bKills              object
bTowers             object
bInhibs             object
bDragons            object
bBarons             object
bHeralds            object
goldred             object
rKills              object
rTowers             object
rInhibs             object
rDragons            object
rBarons             object
rHeralds            object
blueTop             object
blueTopChamp        object
goldblueTop         object
blueJungle          object
blueJungleChamp     object
goldblueJungle      object
blueMiddle          object
blueMiddleChamp     object
goldblueMiddle      object
blueADC             object
blueADCChamp        object
goldblueADC         object
blueSupport         object
blueSupportChamp    object
goldblueSupport     object
blueBans            object
redTop              object
redTopChamp         object
goldredTop          object
redJungle           object
redJungleChamp      object
goldredJungle       object
redMiddle           object
redMiddleChamp      object
goldredMiddle       object
redADC              object
redADCChamp         object
goldredADC          object
redSupport          object
redSupportChamp     object
goldredSupport      object
redBans             object
Address             object
dtype: object

### Everything seems good. No extreme value and exception. No wrong types of value.